LockstepCSVCreation_20220715203234/Microsoft.Flow/flows/65ebe358-2273-4357-a7ec-266904459618/definition.json
{"name":"07d3e980-e732-45e6-8a30-47ee171f7e7c","id":"/providers/Microsoft.Flow/flows/07d3e980-e732-45e6-8a30-47ee171f7e7c","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Lockstep CSV Creation","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"a55ab57d-ddd5-447a-ab5c-e1b641e9784e","type":"User","tenantId":"4410c8bc-5bcd-4a09-8447-264f150edf41"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2022-07-15T18:53:11.2041116Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"On_new_email":{"recurrence":{"frequency":"Minute","interval":1},"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"c0cf75ae-6bdf-4b29-9328-0eafa2553f08"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"OnNewEmailV3"},"parameters":{"folderPath":"Inbox","includeAttachments":true,"subjectFilter":"Lockstep Reporting","importance":"Normal","fetchOnlyWithAttachment":true},"authentication":"@parameters('$authentication')"}}},"actions":{"Apply_to_each":{"foreach":"@triggerOutputs()?['body/attachments']","actions":{"Condition":{"actions":{"Get_Attachment_(V2)":{"runAfter":{},"metadata":{"operationMetadataId":"94359d8f-f98e-4c77-95a2-285f5a9e909a"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"GetAttachment_V2"},"parameters":{"messageId":"@triggerOutputs()?['body/id']","attachmentId":"@items('Apply_to_each')?['id']"},"authentication":"@parameters('$authentication')"}},"Create_table":{"runAfter":{"Get_file_content_using_path":["Succeeded"]},"metadata":{"operationMetadataId":"c7028896-c59a-4308-8376-3a98dd250fec","tableId":null},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"CreateTable"},"parameters":{"source":"sites/berkbrands.sharepoint.com,90fc3fd4-a36a-422a-bfba-15e01370b4dd,a7f55197-0bc5-4f29-9f9a-eb111f6844e3","drive":"b!1D_8kGqjKkK_uhXgE3C03ZdR9afFCylPn5rrER9oROMn17DbuSzfRIiECpUfMAyc","file":"/Notify/@{outputs('Create_file_3')?['body/Name']}","table/Range":"A1:AS40","table/TableName":"Lockstep"},"authentication":"@parameters('$authentication')"}},"Delay":{"runAfter":{"Create_file_3":["Succeeded"]},"metadata":{"operationMetadataId":"e9714b5e-c3f7-4083-9835-2e50fdfadd12"},"type":"Wait","inputs":{"interval":{"count":30,"unit":"Second"}}},"Create_file_3":{"runAfter":{"Get_Attachment_(V2)":["Succeeded"]},"metadata":{"operationMetadataId":"9e3d4ac7-4de1-4e94-8a5b-58a42fc37727"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"parameters":{"dataset":"https://berkbrands.sharepoint.com/sites/Berk2","folderPath":"/Shared Documents/Notify","name":"@outputs('Get_Attachment_(V2)')?['body/name']","body":"@outputs('Get_Attachment_(V2)')?['body/contentBytes']"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Get_file_content_using_path":{"runAfter":{"Delay":["Succeeded"]},"metadata":{"operationMetadataId":"151e5734-d058-4a68-b4b2-9960e12d23b6"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContentByPath"},"parameters":{"dataset":"https://berkbrands.sharepoint.com/sites/Berk2","path":"@outputs('Create_file_3')?['body/Path']","inferContentType":true},"authentication":"@parameters('$authentication')"}},"List_rows_present_in_a_table":{"runAfter":{"Create_table":["Succeeded"]},"metadata":{"operationMetadataId":"21e7a0eb-2628-452c-9279-b99cb029aec8"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"parameters":{"source":"sites/berkbrands.sharepoint.com,90fc3fd4-a36a-422a-bfba-15e01370b4dd,a7f55197-0bc5-4f29-9f9a-eb111f6844e3","drive":"b!1D_8kGqjKkK_uhXgE3C03ZdR9afFCylPn5rrER9oROMn17DbuSzfRIiECpUfMAyc","file":"/Notify/@{outputs('Create_file_3')?['body/Name']}","table":"Lockstep"},"authentication":"@parameters('$authentication')"}},"Create_CSV_table":{"runAfter":{"List_rows_present_in_a_table":["Succeeded"]},"metadata":{"operationMetadataId":"6ea5a4aa-b75f-4430-b442-0dde8ee0657d"},"type":"Table","inputs":{"from":"@outputs('List_rows_present_in_a_table')?['body/value']","format":"CSV"}},"Create_file":{"runAfter":{"Create_CSV_table":["Succeeded"]},"metadata":{"operationMetadataId":"3b893030-8d97-4262-ab05-2255ec9ad13b"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_filesystem","connectionName":"shared_filesystem","operationId":"CreateFile"},"parameters":{"folderPath":"/","name":"Lockstep.csv","body":"@body('Create_CSV_table')"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"contains":["@items('Apply_to_each')?['name']",".xlsx"]},"metadata":{"operationMetadataId":"3ba8b3c7-7afc-4a97-b363-356a00356f1c"},"type":"If"}},"runAfter":{},"metadata":{"operationMetadataId":"870f5504-2422-4f72-a16b-b18fb0cd5e93"},"type":"Foreach"}},"outputs":{},"description":"Now you can have easy access to your Office 365 email attachments from OneDrive for Business. All attachments sent to your Office 365 inbox will be saved in a folder called Email attachments from Power Automate."},"connectionReferences":{"shared_office365":{"connectionName":"shared-office365-3df3ad48-dba3-4017-8679-6abc-bda290f4","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"},"shared_excelonlinebusiness":{"connectionName":"shared-excelonlinebu-2d5b088a-1f5f-4495-a8cf-efc905311a87","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified"},"shared_sharepointonline":{"connectionName":"shared-sharepointonl-9f139b28-5cb3-4ac0-b4a0-70746fad56ae","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_filesystem":{"connectionName":"shared-filesystem-24522982-ec22-4d75-a91b-1015b7f7be1c","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_filesystem","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}